body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding-top: 12px;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    border-bottom: 2px solid black;
    text-align: right;
}
nav ul {
    list-style-type: none;
    font-weight: normal;
    font-size: 12pt;
    opacity: 80%;    
}   

li {
    display: inline-block;
    padding-right: 10px;
}

li:hover {
    font-weight: bold;
}

    
.container {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: flex-start;
    justify-self: center;
    border-bottom: 1px solid black;
    gap: 20px;
}

.item {
    flex: 50%;
    border-radius: 25px;
    max-width: 50%;
    flex-grow: 0;
    padding-left: 10px;
    overflow: visible;
    text-overflow: ellipsis;

}

.postContainer {
    max-width: 1080px;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-self: center;
    border-bottom: 1px solid black;
    gap: 20px;
}

.singlePost {
    flex: 50%;
    background: lightgray;
    border-radius: 25px;
    box-shadow: 5px 5px darkgray;
    padding-left: 10px;
    overflow: visible;
    text-overflow: ellipsis;
    padding: 20px;
    margin: 20px;
    
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}
