{% extends "base.html" %}
{% block title%}Admin-Seite{% endblock %}
{% block content%}
<div class="container">
    <div class="item">
        <h1>Post your post</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>{{ form.headline.label }}</p>
            <p>{{ form.headline() }}</p>
            <p>{{ form.snippet.label }}</p>
            <p>{{ form.snippet()  }}</p>
            <p>{{ form.textarea.label }}</p>
            <p>{{ form.textarea(rows='15',cols='50') }}</p>
            <p>{{ form.image.label }}</p>
            <p>{{ form.image() }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <div class="item">
        <div class="postContainer">
        <!-- TODO: show only headline, snippet and image -->
        {% with posts=posts %}
            {% include "posts_tiles.html" %}
        {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

